---
export interface Props {
  images: Array<{ src: string; alt: string; title?: string; caption?: string }>;
  className?: string;
  fullWidth?: boolean;
  align?: string;
  color?: string;
}

const {
  images = [],
  className = "",
  fullWidth = false,
  align = "center",
  color = "",
} = Astro.props;
const imgLength = images.length;
---

<div
  class={`full-width-image-container ${fullWidth ? "full-width" : "contained"}`}
>
  {
    images.map((image) => (
      <div class="image-wrapper">
        {image.title && (
          <div class={` ${fullWidth ? "full-title" : "image-title"}`}>
            <h6 class="title">{image.title}</h6>
          </div>
        )}
        <div class="img-cont">
          <img src={image.src} alt={image.alt} class={className} />
        </div>
        {image.caption && <figcaption>{image.caption}</figcaption>}
      </div>
    ))
  }
</div>

<style
  define:vars={{ imagesLength: imgLength, alignVal: align, bgcolor: color }}
>
  .full-width-image-container {
    --display-value: flex;
    --margin-value: 0 auto;
    display: var(--display-value);
    gap: 1rem;
  }

  .full-width-image-container.full-width {
    --display-value: flex;
    --margin-value: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 0 3rem;
  }

  .full-width-image-container.contained {
    width: 100%;
    margin: var(--margin-value);
  }

  .image-wrapper {
    flex: 1 1 calc(100% / var(--imagesLength));
    text-align: var(--alignVal);
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--bgcolor);
  }

  .image-wrapper > :first-child,
  .image-wrapper > img:first-child {
    padding-top: 2rem;
  }

  .image-wrapper > :last-child,
  .image-wrapper > img:last-child {
    padding-bottom: 2rem;
  }

  .image-wrapper img {
    width: 100%;
    height: auto;
    align-self: center;
  }

  .full-width-image-container.full-width .image-wrapper img {
    width: 70%;
  }

  .img-cont {
    display: flex;
    justify-content: center;
  }

  .image-title {
    margin: 1rem auto 0.5rem auto;
    font-size: var(--text-page);
    font-weight: bold;
    display: flex;
    width: 100%;
    text-align: center;
  }

  .full-title {
    width: 70%;
    margin: 0 auto;
  }

  .title {
    text-align: var(--alignVal);
    padding-left: 1rem;
    width: 100%;
    margin: 0 0;
  }

  @media (max-width: 767px) {
    .full-width-image-container {
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
    }

    .image-wrapper {
      width: 100%;
    }

    .image-wrapper img {
      width: 100%;
      margin: 0.8rem 0;
    }
  }
</style>
